*, *:before, *:after {
    	box-sizing: inherit;
	}
	div {
	    display: block;
	}
	button, html, input, select, table, textarea {
	    outline: none;
	    font-size: 13px;
		
	}
	html {
	    font-family: sans-serif;
	    font-size: 16px;
	    -ms-text-size-adjust: 100%;
	    -webkit-text-size-adjust: 100%;
	}
	.agree-modal {
	    width: 100%;
	    height: 100%;
	}
	.agree-modal-bg {
		position: absolute;
	    width: 100%;
	    height: 100%;
	    overflow: hidden;
	    z-index: 1051;
	    opacity: .5;
	}    
	.agree-modal {
	    -webkit-overflow-scrolling: touch;
	    display: none;
	    overflow: hidden;
	    position: fixed;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    left: 0;
	    z-index: 1050;
	    outline: 0;

	}
	

		
	}
	element.style {
	    width: 520px;
	    padding-right: 20px;
	    padding-left: 20px;
	    height: 613px;
	    float: right;
	    color: rgb(209, 209, 209);
	    margin-top: 17px;
  	  	text-align: right;
	}
	.agree-modal-dialog {
	    padding-bottom: 20px;
	    border-top: 5px #3b8de0 solid;
	    border-radius: 0 0 5px 5px;
	    background-color: #fff;
	}
	.agree-modal-dialog {
	    position: absolute;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    left: 0;
	    z-index: 1052;
	    margin: auto;
	    text-align: left;
	}
	
	.agree-modal-header {
	    color: #fff;
	}
	.agree-modal-body {
	    background-color: #fff;
	}
	.Account {
	    padding-top: 30px;
	    color: #585858;
	}
	.Account-title {
	    font-size: 24px;
	    color: #000;
	    text-align: center;
	}
	h1, h2, h3, h4, h5, h6, p {
	    margin: 0;
	}
	h1 {
	    font-size: 20px;
	    font-weight: bold;
	    font-size: 2em;
	    margin: .67em 0;
	    display: block;
	    font-size: 2em;
	    -webkit-margin-before: 0.67em;
	    -webkit-margin-after: 0.67em;
	    -webkit-margin-start: 0px;
	    -webkit-margin-end: 0px;
	    font-weight: bold;
	}
	
	.Agreement {
	    margin-top: 35px;
	}
	.Agreement-terms__title {
	    float: left;
	    font-size: 14px;
	    font-weight: normal;
	    color: #2a2a2a;
	    margin-top: 0;
	}
	h2 {
	    display: block;
	    font-size: 1.5em;
	    -webkit-margin-before: 0.83em;
	    -webkit-margin-after: 0.83em;
	    -webkit-margin-start: 0px;
	    -webkit-margin-end: 0px;
	    font-weight: bold;
	}
	:focus {
	    outline: -webkit-focus-ring-color auto 5px;
	}
	.Agreement-terms__title>em {
	    color: #3b8de0;
	    font-style: normal;
	}
	.Agreement-terms .Checkbox {
	    top: 0;
	    height: 16px;
	}
	.Checkbox {
	    position: relative;
	    margin-bottom: 0;
	    line-height: 1;
	    cursor: pointer;
	}
	label {
	    display: inline-block;
	    max-width: 100%;
	    margin-bottom: 5px;
	    font-weight: normal;
	}
	.fas :fa-check {
	    top: -3px;
	    font-size: 22px;
	    position: relative;
	    font-size: 19px;
	    display: inline-block;
	    vertical-align: middle;
	    content: "\e02d";
	}
	
	[class^=".fas :fa-check"]:before, [class*=" .fas :fa-check"]:before {
	    font-family: "dabang" !important;
	    font-style: normal !important;
	    font-weight: normal !important;
	    font-variant: normal !important;
	    text-transform: none !important;
	    speak: none;
	    line-height: 1;
	    -webkit-font-smoothing: antialiased;
	    -moz-osx-font-smoothing: grayscale;
	}
	
	i, cite, em, var, address, dfn {
	    font-style: italic;
	}
	.Checkbox--chk .Checkbox-input {
	    left: auto;
	    right: 0;
	}
	input[type="checkbox"], input[type="radio"] {
	    box-sizing: border-box;
	    padding: 0;
	}
	.Checkbox-input {
	    position: absolute;
	    top: 0;
	    left: 0;
	    cursor: pointer;
	    opacity: 0;
	    filter: alpha(opacity=0);
	}
	button, input, optgroup, select, textarea {
	    color: inherit;
	    font: inherit;
	    margin: 0;
	}
	input {
	    line-height: normal;
	}
	input[type="checkbox" i] {
	    margin: 5px 5px 5px 6px;
	}
	input[type="checkbox" i] {
	    -webkit-appearance: checkbox;
	    box-sizing: border-box;
	}
	input[type="radio" i], input[type="checkbox" i] {
	    background-color: initial;
	    cursor: default;
	    margin: 3px 0.5ex;
	    padding: initial;
	    border: initial;
	}
	input {
	    -webkit-appearance: textfield;
	    background-color: white;
	    -webkit-rtl-ordering: logical;
	    cursor: text;
	    padding: 1px;
	    border-width: 2px;
	    border-style: inset;
	    border-color: initial;
	    border-image: initial;
	}
	input, textarea, select, button {
	    text-rendering: auto;
	    color: initial;
	    letter-spacing: normal;
	    word-spacing: normal;
	    text-transform: none;
	    text-indent: 0px;
	    text-shadow: none;
	    display: inline-block;
	    text-align: start;
	    margin: 0em;
	    font: 400 13.3333px Arial;
	}
	input, textarea, select, button, meter, progress {
	    -webkit-writing-mode: horizontal-tb;
	}
	input[type="button" i]:focus,
	input[type="checkbox" i]:focus,
	input[type="file" i]:focus,
	input[type="hidden" i]:focus,
	input[type="image" i]:focus,
	input[type="radio" i]:focus,
	input[type="reset" i]:focus,
	input[type="submit" i]:focus,
	input[type="file" i]:focus::-webkit-file-upload-button {
	    outline-offset: 0px;
	}
	.Agreement-terms .Checkbox--chk .Checkbox-label {
	    margin-right: 6px;
	}
	.Checkbox--chk .Checkbox-label {
	    float: left;
	    margin-left: 0;
	    margin-right: 7px;
	    font-size: 13px;
	    line-height: 1.15384615em;
	    color: #000;
	}
	.Checkbox-label {
	    -webkit-user-select: none;
	    -moz-user-select: none;
	    -ms-user-select: none;
	    user-select: none;
	    margin-left: 9px;
	    color: #919191;
	}
	.Agreement-terms__desc {
	    clear: both;
	    margin-top: 8px;
	    background-color: #ecf0f5;
	}
	iframe[Attributes Style] {
	    width: 100%;
	    height: 88px;
	    border-top-width: 0px;
	    border-right-width: 0px;
	    border-bottom-width: 0px;
	    border-left-width: 0px;
	}
	
	iframe {
	    border-width: 2px;
	    border-style: inset;
	    border-color: initial;
	    border-image: initial;
	    border: none;
	}
	.Agreement-terms+.Agreement-terms {
	    margin-top: 21px;
	}
	.Agreement-nav {
	    margin-top: 27px;
	}
	.Agreement-nav__btn {
	    width: 236px;
	}
	.btn-lg {
	    width: 230px;
	    height: 50px;
	    font-size: 15px;
	    line-height: 48px;
	}
	.btn {
	    display: inline-block;
	    padding: 0 13px;
	    background-image: none;
	    margin-bottom: 0;
	    font-size: 12px;
	    font-weight: 400;
	    line-height: 1.53856154;
	    text-align: center;
	    text-decoration: none;
	    white-space: nowrap;
	    vertical-align: middle;
	    -ms-touch-action: manipulation;
	    touch-action: manipulation;
	    cursor: pointer;
	    transition: all .1s ease;
	    -webkit-user-select: none;
	    -moz-user-select: none;
	    -ms-user-select: none;
	    user-select: none;
	}
	.btn-white-gray {
	    border: 1px #585858 solid;
	    background-color: #fff;
	    color: #585858;
	}
	.border-radius-large {
	    border-radius: 5px;
	}
	.Agreement-nav__btn+.Agreement-nav__btn {
	    float: right;
	}
	.btn-default {
	   border: 1px #d1d1d1 solid;
	   border: 1px solid #dfdfdf;
	   background-color: #fff;
	   color: #585858;

	}
	.btn-white-gray.hover, .btn-white-gray:hover {
		border-color: #342215;
	    border: 1px #342215 solid;
	    background-color: #FB192C;
	    color: #ffffff;
	}