@CHARSET "UTF-8";
body {
	margin: 0;
}

html {
	box-sizing: border-box;
}

h1 {
	font-size: 2em;
	margin: .67em 0;
}

button, html input[type='button'], input[type='reset'], input[type='submit']
	{
	-webkit-appearance: button;
	cursor: pointer;
}

input {
	line-height: normal;
}

*, *::before, *::after {
	box-sizing: inherit;
}

.footer {
	position: relative;
	width: 100%;
	min-width: 1110px;
	clear: both;
}

body, html {
	width: 100%;
	height: 100%;
}

html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

button, html, input, select, table, textarea {
	outline: none;
	font-family: "Nanum Gothic", "Malgun Gothic", "돋움", Dotum, Helvetica,
		"Apple SD Gothic Neo", Sans-serif;
	font-size: 13px;
}

.dabang-modal {
	-webkit-overflow-scrolling: touch;
	display: none;
	overflow: hidden;
	position: fixed;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	z-index: 1050;
	outline: 0;
}

.dabang-modal {
	width: 100%;
	height: 100%;
}

.dabang-modal-bg {
	overflow: hidden;
	z-index: 1051;
	background: #0b0b0b;
	opacity: 0.8;
	filter: alpha(opacity = 80);
}

.dabang-modal-bg {
	position: absolute;
	width: 100%;
	height: 100%;
}

.dabang-modal-dialog {
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	z-index: 1052;
	margin: auto;
	text-align: left;
}

.dabang-modal-dialog {
	padding-bottom: 20px;
	border-top: 5px #3b8de0 solid;
	border-radius: 0 0 5px 5px;
	background-color: #fff;
}

.dabang-modal-header {
	color: #fff;
}

.dabang-modal-body {
	background-color: #fff;
}

.Account {
	padding-top: 30px;
	color: #585858;
}

h1 {
	font-size: 20px;
	font-weight: bold;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
}

.Account-title {
	font-size: 24px;
	color: #000;
	text-align: center;
}

.ForgotPassword {
	margin-top: 26px;
}

.ForgotPassword-message {
	font-size: 13px;
	text-align: center;
}

form {
	margin: 0;
}

.ForgotPassword .Account-form {
	margin-top: 15px;
}

.Account-form__row {
	display: table;
	width: 100%;
}

button, input, optgroup, select, textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

button {
	overflow: visible;
}

button, select {
	text-transform: none;
}

.border-radius-large {
	border-radius: 5px;
}

.btn-blue {
	border: 1px #2074c8 solid;
	background-color: #3b8de0;
	color: #fff;
}

.btn {
	display: inline-block;
	padding: 0 13px;
	background-image: none;
	margin-bottom: 0px;
	font-size: 12px;
	font-weight: 400;
	line-height: 1.5385;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	transition: all .1s ease;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.btn-lg {
	width: 230px;
	height: 50px;
	font-size: 15px;
	line-height: 48px;
}

.Account-form__submit {
	width: 100%;
	margin-top: 30px;
}

.Account-form__cell {
	display: table-cell;
	vertical-align: middle;
}

:first-child.Account-form__cell {
	text-align: left;
}

.ForgotPassword :first-child.Account-form__cell {
	width: 75px;
}

.Account-form__input {
	width: 100%;
	height: 40px;
	padding-right: 15px;
	padding-left: 15px;
	border: 1px solid #d1d1d1;
}

label {
	display: inline-block;
	max-width: 100%;
	margin-bottom: 5px;
	font-weight: normal;
}

.Account-form__label {
	margin-bottom: 0px;
	cursor: pointer;
}

.dabang-icon {
	display: inline-block;
	vertical-align: middle;
}

.icon-size-2xl {
	font-size: 19px;
	vertical-align: -5px;
}

.dabang-icon {
	display: inline-block;
	vertical-align: middle;
}

.icon-size-2xl {
	vertical-align: -5px;
	font-size: 19px;
}

[class*=' dabang-icon-']::before, [class^='dabang-icon-']::before {
	font-family: "dabang" !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	line-height: 1;
	text-transform: none !important;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[class^='dabang-icon-']::before, [class*=' dabang-icon-']::before {
	font-family: "dabang" !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.dabang-icon-remove::before {
	content: "\e00d";
}

.dabang-modal-header .dabang-icon-remove {
	display: inline-block;
	position: absolute;
	top: -27px;
	right: -25px;
	cursor: pointer;
}