div {
	text-align: left;
	line-height: 100%;
}
#body div:first {
	margin-top: 20px;
}
#body div.buttonDiv{
	margin-top: 20px;
	margin-bottom: 50px;
	text-align: center;
}
div.row{
	border-bottom: 1px gray solid;
	margin-top: 20px;
}
.buttonDiv button{
	width: 150px;
}
h5{
	display: inline-block;
	float: left;
}
h5:last-child {
	display: block;
	float: left;
}
.buttonCancel {
	display: inline-block;
	background: #ffffff;
	border: 2px solid #aba8a8;
	padding: 15px 30px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	color: #aba8a8;
	font-size: 15px;
	font-family: Georgia, Serif;
	text-decoration: none;
	vertical-align: middle;
	margin-right: 20px;
}
textarea{
	background-color: white;
	margin-bottom: 20px;
	margin-top: 20px;
	width: 90%;
}
.buttonCancel:hover {
	background: #e3e3e3;
	color: #000000;
}

.buttonCancel:active {
	background: #aba8a8;
	transform: translateY(4px);
}

.buttonNext {
	display: inline-block;
	background: #ffffff;
	border: 2px solid #c91f3b;
	padding: 15px 30px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	color: #c91f3b;
	font-size: 15px;
	font-family: Georgia, Serif;
	text-decoration: none;
	vertical-align: middle;
}

.buttonNext:hover {
	background: #de8c8c;
	color: #d93434;
}

.buttonNext:active {
	background: #c91f3b;
	color: white;
	transform: translateY(4px);
}
div.allagree{
	display: inline-block;
	float: right;
	margin-bottom: 20px;
}
div.options{
	display: inline-block;
	float: right;
}
div.details{
	display: inline-block;
	padding-right: 20px;
}
div.details:hover{
	cursor: pointer;
}
div.agree{
	display: inline-block;
}
button.agreebutton{
	background-color: #F6F3F3;
    border: none;
    color: #969595;
    padding: 10px 15px;
    text-align: center;
    display: inline-block;
    font-size: 13px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
}
button.agreebutton:hover{
	background-color: #C1BFBF;
}
span.necessary{
	color:#E73C3C;
	
}