.nav-pills{
	margin-bottom: 0;	
	background-color: #f7f7f7;			
}

.nav-pills > li > a{

  	font-size: 14px;
  	margin: 1px 3px 1px 0px;
}

#menu{
	padding-left: 5px;
	padding-right: 5px;
	font-size: 30px;
	font-family: verdana;
}
#menu > li a:hover
{
	background-color: #ff8c8c;
	color:white;
}

#menu > li > .active {
    background-color: #ff8c8c;
	color:white;
}

#recently{
	padding-left: 30px;
}

.nav-pills .active > a,
.nav-pills .active > a:hover, 
.nav-pills .active > a:focus {
    color: #ff7473;
    border-bottom-color: #ff7473;
    background: transparent;
   
}