@CHARSET "UTF-8";

.modal.modal-center {
  text-align: center;
}
.modal-body {
	margin-bottom: 10px;
	border: 5px solid #e7e7e7;
	margin: 10px 10px 10px 10px;
	border-style: groove;
	border-radius: 25px 25px;
}

@media screen and (min-width: 768px) { 
  .modal.modal-center:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-title {
	position: relative;
    left: 180px;
}

.modal-dialog.modal-center {
  display: inline-block;
  text-align: left;
  vertical-align: middle; 
}

.modal-content {
	width: 500px;
}
.firstWrap {
	text-align: center;
}

.modal-profile_photo, .memberInfoFirst {
	display: inline-block;
}

.modal-profile_photo {
	position: relative;
	left: 0;
	width:150px;
	height: 150px;
}

.memberInfoFirst {
	float: right;
	text-align: left;
}

.memberInfoSecond {
	margin-top: 30px;
}

table.table {
	text-align: center;
}

label:AFTER {
	border-bottom: 1px solid gray;
}

hr {
	position: relative;
	top: -15px;
	background-color: #e7e7e7;
}

button.btn-rock {
	background-color: #DFE226;
}