.navbar{
	margin-bottom: 0;						
}
.navbar-brand{
	padding-top: 10px;	
}
.navbar-default .navbar-nav > li > a{
	transition: 0.3s ease;  
  	color: #777;
  	font-size: 14px;
  	font-weight :bold;
  	text-decoration: none;
  	border-top: 4px solid #f8f8f8;  
  	border-bottom: 4px solid #f8f8f8;  
  	margin: 0 15px;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
   	color: #ff7473;    	
   	border-bottom-color: #ff7473;    	 	   
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #ff7473;
    border-bottom-color: #ff7473;
    background: transparent;
}

/* 로그인 폼 */
.nbang-modal {
    width: 100%;
    height: 100%;
}
.nbang-modal {
    -webkit-overflow-scrolling: touch;
    display: none;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    outline: 0;
}
.nbang-modal-bg {
    position: absolute;
    width: 100%;
    height: 100%;
}
.nbang-modal-bg {
    overflow: hidden;
    z-index: 1051;    
}
.nbang-modal-dialog {
    padding-bottom: 20px;
    border-top: 5px #ff7473 solid;
    border-radius: 0 0 5px 5px;
    background-color: #fff;
}
.nbang-modal-dialog {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1052;
    margin: auto;
    text-align: left;
}
.nbang-modal-header {
    color: #fff;
}
.nbang-modal-header .nbang-icon-remove {
    display: inline-block;
    position: absolute;
    top: -25px;
    right: -20px;
    cursor: pointer;
}
.nbang-modal-header .nbang-icon-remove:hover {
    color: #d1d1d1;
}
.icon-size-2xl {
    vertical-align: -5px;
    font-size: 19px;
}
.nbang-modal-body {
    background-color: #fff;
}
.Account {
    padding-top: 7px;
    color: #585858;
}
.Account-title {
    font-size: 24px;
    color: #000;
    text-align: center;
}
.Login {
    margin-top: 47px;
    text-align: center;
}
.Login form {
    margin: 0;
}
.Account-form__row {
    display: table;
    width: 100%;
}
.Account-form__row+.Account-form__row {
    margin-top: 13px;
}
.Login .Account-form__cell:first-child {
    width: 75px;
}
.Account-form__cell:first-child {
    text-align: left;
}
.Account-form__cell {
    display: table-cell;
    vertical-align: middle;
}
.Account-form__label {
    margin-bottom: 0;
    cursor: pointer;
}
.Account-form__cell label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: normal;
}
.Account-form__input {
    width: 100%;
    height: 40px;
    padding-right: 15px;
    padding-left: 15px;
    border: 1px solid #d1d1d1;
}
.Account-form__submit {
    width: 100%;
    margin-top: 30px;
}
.Login .btn-lg {
	height : 50px;
    font-size: 15px;    
}
.btn-pink {
    border: 1px #ff3737 solid;
    background-color: #ff7473;
    color: #fff;
}
.btn-pink:hover {
    border: 1px #ff3737 solid;
    background-color: #ff5151;
    color: #fff;
}
.Account .btn-no-bg {
    background-color: transparent;
}
.Account .btn-no-border {
    border: 0;
}
.Login-auth {
    margin-top: 10px;
}
.Login-auth__item {
    font-size: 13px;
    letter-spacing: -0.04em;
    color: inherit;
}
.Login-auth__item+.Login-auth__item:before {
    content: "|";
    display: inline-block;
    padding-right: 10px;
    font-weight: bold;
    color: #d1d1d1;
}
.Login-sns {
    margin-top: 28px;
}
.Login-sns__btn {
    width: 158px;
    height: 44px;
    border: 1px solid;
    border-radius: 5px;
}
.btn-kakao {
    border-color: #7b7117;
    background-color: #fae100;
    color: #342215;
}
.btn-kakao:hover {
    background-color: #bdab0a;
}
.btn-facebook {
    border-color: #1b356b;
    background-color: #3b5999;
    color: #fff;
}
.btn-facebook:hover {
    background-color: #29447f;
}
.Login-sns__btn+.Login-sns__btn {
    margin-left: 5px;
}
.Login-pro_register {
    display: block;
    padding-top: 20px;
    border-top: 1px solid #d1d1d1;
    margin-top: 20px;
    letter-spacing: -0.04em;
}
.Login-pro_register>a {
    color: #585858;
    text-decoration : none;
    background-color: transparent;
}
.Login-pro_register__icon {
    display: inline-block;
    width: 25px;
    height: 17px;
    margin-right: 2px;
    background: url(../images/accountlogin/icon-pro.png) no-repeat;
    vertical-align: middle;
}

/* 비밀번호 찾기 */
.ForgotPassword {
    margin-top: 26px;
}
.ForgotPassword-message {
    font-size: 12px;
    text-align: center;
}
.ForgotPassword .Account-form {
    margin-top: 15px;
}
.ForgotPassword form {
    margin: 0;
}
.ForgotPassword .Account-form__cell:first-child {
    width: 75px;
}
.ForgotPassword .btn-lg {
	height : 50px;
    font-size: 15px;    
}

/* 약관동의 */
.Agreement h2{
	margin: 0;
}
.Agreement {
    margin-top: 35px;
}
.Agreement-terms__title {
    float: left;
    font-size: 14px;
    font-weight: normal;
    color: #2a2a2a;
}
.Agreement-terms__title>em {
    color: #3b8de0;
    font-style: normal;
}
.Agreement-terms .Checkbox {
    top: 0;
    height: 16px;
}
.Checkbox {
    position: relative;
    margin-bottom: 0;
    line-height: 1;
    cursor: pointer;
}
.Checkbox .nbang-icon {
    position: relative;
    font-size: 19px;
}
.Checkbox--chk .nbang-icon {
    top: -2px;
    font-size: 20px;
}
.nbang-icon {
    display: inline-block;
    vertical-align: middle;
}
.Checkbox--chk .Checkbox-input {
    left: auto;
    right: 0;
}
.Agreement input[type="checkbox"], .Agreement input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}
.Checkbox-input {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.Agreement-terms+.Agreement-terms {
    margin-top: 21px;
}
.Agreement-terms .Checkbox--chk .Checkbox-label {
    margin-right: 6px;
}
.Checkbox--chk .Checkbox-label {
    float: left;
    margin-left: 0;
    margin-right: 7px;
    font-size: 13px;
    line-height: 1.15384615em;
    color: #000;
}
.Agreement-terms__desc {
    clear: both;
    margin-top: 8px;
    background-color: #ecf0f5;
}
.Agreement-nav {
    margin-top: 27px;
}
.Agreement-nav__btn {
    width: 236px;
}
.Agreement .btn-lg {    
    height: 50px;
    font-size: 15px;    
}
.btn-white-gray {
    border: 1px #585858 solid;
    background-color: #fff;
    color: #585858;
}
.btn-white-gray.hover, .btn-white-gray:hover {
    border: 1px #585858 solid;
    background-color: #ecf0f5;
    color: #585858;
}
.btn-default {
    border: 1px #585858 solid;
    background-color: #fff;
    color: #585858;
}
/* 회원가입 */
.UserSignup {
    margin-top: 38px;
}
.UserSignup form{
	margin: 0;
}
.UserSignup .Account-form__cell:first-child {
    width: 95px;
}
.UserSignup .Account-form__input {
    height: 34px;
}
.Account-form__select {
    height: 35px;
    padding-right: 25px;
    padding-left: 15px;
    border: 1px solid #d1d1d1;
    border-radius: 0;
    background-color: #fff;
    background-image: url(../images/accountlogin/data_image.png);
    background-repeat: no-repeat;
    background-position: 90% 50%;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
}
.Account-form__abled .Account-form__input {
    width: 82px;
}
.Account-form__row button {
    float: right;
    width: 100px;
    height: 34px;
    vertical-align: top;
}
.Account-form__row+.Account-form__row {
    margin-top: 13px;
}
.btn-white-blue {
    border: 1px #3b8de0 solid;
    background-color: #fff;
    color: #3b8de0;
}
.btn-white-blue.hover, .btn-white-blue:hover {
    border: 1px #3b8de0 solid;
    background-color: #ecf0f5;
    color: #3b8de0;
}
.UserSignup .btn {
    display: inline-block;
    padding: 0 13px;
    background-image: none;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.53856154;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    transition: all .1s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.UserSignup .btn-lg{
	font-size: 15px;
	height: 50px;
}

/* 로그인 시 */
.Header-profile{
	display: block;
	position: relative;
	height: 58px;
    padding: 0 3px;
    margin: 0 15px;
}
.HeaderProfile {
    display: block;
    width: 145px;
    height: 58px;
    line-height: 58px;
    cursor: pointer;
}
.HeaderProfile .Profile {
    width: 32px;
    height: 32px;
    margin: 12px 0 0;
    position: relative;
}
.Profile.Profile--default {
    float: left;
}
.HeaderProfile .Profile-img {
    border: 2px solid #fff;
}
.Profile--default .Profile-img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}
.Profile-img {
    position: absolute;
    right: 0;
    left: 0;
    background: url(../images/accountlogin/top_menu_profile.png) center center no-repeat;
    background-size: cover;    
}
.HeaderProfile-name {
    overflow: hidden;
    float: left;
    max-width: 62px;
    margin-right: 3px;
    margin-left: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.nbang-icon-sort-desc{
	margin-left: 14px;	
}