/*
.room-upload-wrap{
	width:960px;
	margin:0 auto;
	font-size:13px
}
*/
.btn-no-border{
	border:0
}
.btn-no-bg{
	background-color:transparent
}
h2, h3, h4, h5, h6, p {
    margin: 0;
}
em{
	font-style: normal;
}
.caption{
	visibility:hidden;
	overflow:hidden;
	width:0;
	height:0;
	font-size:0;
	line-height:0
}
.room-upload-wrap em{
	font-weight:bold;
	color:#ef4351
}

.room-upload-wrap .title{
	margin-top:46px;
	margin-bottom:33px;
	text-align:left
}
.room-upload-wrap .title h2{
	border-left: 5px solid #ef4351;
	padding-left: 10px;
	font-weight: bold
}
.room-upload-wrap .title .description{
	padding:15px;
	border-radius:5px;
	background-color:#ecf0f5;
	margin-top:26px
}
.room-upload-wrap .title .description p{
	display:inline-block;	
	line-height:1.6
}
.room-upload-wrap .title .description p em{
	color:#3b8de0
}

.room-upload-wrap .content .LocationAddress .Address input{
	width: 310px;
}

/*
.room-upload-wrap .title .description a{
	width:250px;
	height:56px;
	border-radius:4px;
	margin-top:29px;
	font-size:15px;
	line-height:56px;
	text-align:center;
	text-decoration:none
}
*/
.room-upload-wrap .content{	
	margin-top:33px;
}
.room-upload-wrap .content i{
	color:#ef4351;
	margin-right: 5px;		
}
.room-upload-wrap .content table{
	margin-top:16px;
}


table.table{
	table-layout:fixed;
	clear:both;
	width:100%;
	border-bottom:1px solid #dfdfdf;
	word-break:break-all
}
table.table tr:first-child{
	border-top:2px solid #2a2a2a
}
table.table th{
	padding:17px 0 30px 15px;
	border:0;
	border-top:1px solid #dfdfdf;
	background-color:#ecf0f5;	
	font-weight:normal;
	line-height:1.6;
	text-align:left
}
table.table td{
	padding:17px 0 17px 35px;
	border:0;
	border-top:1px solid #dfdfdf;
	font-size:13px;
	line-height:1.6;
	text-align:left
}
form{
	/*margin:0*/
}
.form-control{
	display:inline;
	width:100%;
	height:35px;
	padding:6px 12px;
	border:1px solid #d1d1d1;
	background-color:#fff;
	background-image:none;	
	line-height:20px;
	vertical-align:middle;
	color:#585858
}
.form-control::-moz-placeholder{
	color:#919191
}
.form-control:-ms-input-placeholder{
	color:#919191
}
.form-control::-webkit-input-placeholder{
	color:#919191
}
.form-control.disabled,.form-control:disabled{
	background-color:#ecf0f5
}

.Address textarea{
	overflow:auto;
	resize:none;
	line-height:20px
}
.Address-row+.Address-row{
	margin-top:10px
}
.Address-submit{
	float:right
}
.room-upload-wrap .content table td {
    padding: 10px 0 10px 18px;
}
.room-upload-wrap .content .LocationAddress .DaumMap {    
    height: 206px;
    background-image:url("../images/manage/map-image.png");
	background-position:center;
}

.room-upload-wrap .content .LocationAddress .Address-submit {
    border: 1px #3b8de0 solid;
    background-color: #fff;
    color: #3b8de0;
    width: 136px;
    height: 35px;
    font-size: 13px;
    /*line-height: 33px;*/
    border-radius: 4px;
    width: 115px;
}
.table>tbody>tr>th{
	vertical-align: middle;
}


/* basic-wrap*/
.room-upload-wrap .content .basic-wrap{
	margin-top: 60px;	
}
select.form-control{
	width: 150px;	
}

.room-upload-wrap .content .transaction-type{
	padding: 0;	
}
.room-upload-wrap .content .basic-wrap .transaction-type .transaction-item:first-child {
    border-top: none;
}
.room-upload-wrap .content .transaction-type .transaction-item {
    height: 58px;
    padding: 10px 10px 10px 18px;
    border-top: 1px solid #dfdfdf;
    line-height: 35px;
}
.room-upload-wrap .content .basic-wrap .transaction-type .transaction-item input {
    margin: 0 7px 0 12px;
    text-align: right;
}
.room-upload-wrap .content .basic-wrap .transaction-type .transaction-item button {
    width: 140px;
    margin-right: 10px;
}
.room-upload-wrap .content .basic-wrap .building-size-wrap .title {
    display: inline-block;
    width: 60px;
    margin-top: 0;
    margin-bottom: 0;
}
.room-upload-wrap .content .basic-wrap input {
    width: 100px;
}
label {   
    font-weight: normal;
}
.room-upload-wrap .content label {
    margin-top: 0;
}
.room-upload-wrap .content input[type=checkbox] {
    width: 17px;
    height: 17px;
    margin-right: 7px;
    vertical-align: middle;
}

/* 전세,월세 추가*/
.room-upload-wrap .content .basic-wrap .transaction-type .transaction-item .tag {
    width: 45px;
    padding: 4px 0;
    background-color: #585858;
    font-size: 12px;
    font-weight: normal;
    text-align: center;
    color: #fff;
    cursor: inherit;
}
.tag {
    display: inline-block;
    padding: 1px 8px;
    border-radius: 100px;
    background-color: #e7f4ff;
    margin-right: 5px;
    font-size: 13px;
    line-height: 16px;
    color: #353535;
    cursor: pointer;
}
.room-upload-wrap .content .basic-wrap .transaction-type .transaction-item .discription {
    margin-left: 20px;
    color: #d1d1d1;
}
.room-upload-wrap .content .basic-wrap .transaction-type .transaction-item .icon-delete {
    display: inline-block;    
    width: 18px;
    height: 18px;
    font-size: 18px;
    margin-top: -1px;
    margin-left: 8px;
    vertical-align: middle;
    cursor: pointer;
}
.room-upload-wrap .content .basic-wrap .transaction-type .transaction-item .slush {
    margin-left: 10px;
    font-weight: bold;
}


/* 추가정보 */
.room-upload-wrap .content .additional-wrap {
    margin-top: 66px;
}
.room-upload-wrap .content .additional-wrap input[type=text] {
    width: 115px;
    margin-right: 5px;
    text-align: right;
}
.room-upload-wrap .content .additional-wrap label {
    margin-right: 25px;
}
.room-upload-wrap .content .additional-wrap span{
	position: relative;
	top: 3px;
}
.room-upload-wrap .content .additional-wrap .calendar {
    display: inline-block;
    width: 27px;
    height: 28px;
    background-image: url("../images/manage/calendar.png");
    margin-top: 3px;
    margin-right: 20px;
    margin-left: 8px;
    vertical-align: top;
    cursor: pointer;
}

/* 상세 설명*/
.room-upload-wrap .content .detail-wrap {
    margin-top: 60px;
}
.room-upload-wrap .content .detail-wrap .td-tit, .room-upload-wrap .content .detail-wrap .td-desc {
    position: relative;
}
.room-upload-wrap .content .detail-wrap .tit-count {
    position: absolute;
    bottom: 17px;
    right: 12px;
    color: #999;
}
.room-upload-wrap .content .detail-wrap .td-tit, .room-upload-wrap .content .detail-wrap .td-desc {
    position: relative;
}

/* 사진 업로드 */
.room-upload-wrap .content .photo-wrap {
    margin-top: 60px;
}
.room-upload-wrap .content .photo-wrap .header {
    height: 45px;
    min-height: 45px;
    border-bottom: none;
    box-shadow: none;
}
.room-upload-wrap .content .photo-wrap .header h3 {
    display: inline-block;
}
.room-upload-wrap .content .photo-wrap .header .gnb {
    float: right;
}
dd, dl, dt, li, ol, ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.room-upload-wrap .content .photo-wrap .header .gnb .general {
    margin-right: 10px;
}
.room-upload-wrap .content .photo-wrap .header .gnb li {
    float: left;
    height: inherit;
}
.room-upload-wrap .content .photo-wrap .header .gnb li .active {
    background-color: #777;
    color: #fff;
}
.room-upload-wrap .content .photo-wrap .header .gnb li button {
    display: block;
    height: 46px;
    padding: 0 65px;
    border: 1px solid #585858;
    border-bottom: none;
    background-color: #fff;
    margin: 0;
    font-size: 14px;
    font-weight: bold;
    line-height: 45px;
    color: #585858;
    cursor: pointer;
    border-radius: 5px 5px 0 0;
}
.room-upload-wrap .content .photo-wrap .header .line {
	width: 100%;
    clear: both;
    height: 2px;
    background-color: #777;
    margin: 12px 0;
}
.room-upload-wrap .content .photo-wrap .photo-guide-wrap {
    position: relative;
    margin-top: 12px;
}
.room-upload-wrap .content .photo-wrap .photo-guide-wrap .photo-guide {
    padding: 15px;
    border: 1px solid #ef4351;
}
.room-upload-wrap .content .photo-wrap .photo-guide-wrap .photo-zone {
    position: relative;
}
.room-upload-wrap .content .photo-wrap .photo-zone {    
    min-height: 334px;
    padding: 20px 0 10px;
    background-image: url("../images/manage/pano-bg.png");
    margin-top: 10px;
}
.room-upload-wrap .content .photo-wrap .photo-guide-wrap .photo-zone .discription {
    position: absolute;
    top: 0;
    width: 100%;
    height: 331px;
    padding-top: 75px;
    text-align: center;
}
.room-upload-wrap .content .photo-wrap .photo-guide-wrap .photo-zone .discription .btn {
    width: 142px;
    margin: 16px auto 0;
}
.btn-md {
    width: 180px;
    height: 44px;
    font-size: 14px;
    line-height: 42px;
}
.room-upload-wrap .content .photo-wrap .photo-guide-wrap .photo-zone .moxie-shim {
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
}
.room-upload-wrap .content .photo-wrap .pano-wrap .discription {
    position: absolute;
    top: 220px;
    left: 347px;
    z-index: 345;
    text-align: center;
}
.room-upload-wrap .content .photo-wrap .pano-wrap .pano {    
    min-height: 334px;
    background-image: url("../images/manage/pano-bg.png");
    margin-top: 10px;
    margin-right: 0;
}
.room-upload-wrap .content .photo-wrap .pano-wrap .discription .btn {
    width: 144px;
    margin: 16px auto 0;
}

.room-upload-wrap .content .photo-wrap .pano-wrap {
    position: relative;
    margin-top: 12px;
}
.room-upload-wrap .content .photo-wrap .pano-wrap .photo-guide {
    padding: 15px;
    border: 1px solid #ef4351;
}
div.photo-elem {
    display: inline-block;
    position: relative;
    width: 194px;/*194*/
    height: 149px;/*149*/
}
.room-upload-wrap .content .photo-wrap .photo-guide-wrap .photo-zone .photo-elem {
    float: left;
    width: 189px;/*192*/
    background-image: url(../images/manage/thumbnail_white.png);
}
div.photo-elem .photo-title {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 8px;
    z-index: 10;
    padding: 2px 5px;
    background: #000;
    color: #fff;
    opacity: .7;
    filter: alpha(opacity=70);
}
div.photo-elem .close {
    position: absolute;
    top: 0;
    right: 7px;/*10px*/
    z-index: 10;
    width: 18px;
    height: 18px;
    background-image: url(../images/manage/bt_close2.png);
    cursor: pointer;
    opacity: 1;
}
.room-upload-wrap .content .photo-wrap .photo-guide-wrap .photo-zone .photo-elem .progress {
    background-color: #3b8de0;
}
div.photo-elem .progress {
    position: absolute;
    bottom: 14px;
    left: 18px;
    z-index: 10;
    width: 0;
    height: 5px;
    background-color: #58b5d3;
}
div.photo-elem .rotate {
    position: absolute;
    bottom: 8px;
    left: 8px;
    z-index: 10;
    width: 30px;
    height: 30px;
    background-color: #585858;
    line-height: 37px;
    text-align: center;
    cursor: pointer;
}
div.photo-elem .rotate .cbang-icon {	
    font-size: 22px;
    color: white;
    padding-left: 4px;
}
div.photo-elem .photo {
    position: absolute;
    top: 5px;/*5*/
    right: 12px;/*16*/
    bottom: 14px;/*14*/
    left: 13px;/*13*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;    
}
.room-upload-wrap .content .photo-wrap .photo-guide-wrap .photo-zone .upload-btn-wrap {
    display: inline-block;
    position: relative;
}
.room-upload-wrap .content .photo-wrap .photo-guide-wrap .photo-zone .upload-btn-wrap .btn-upload {
    display: inline-block;
    width: 191px;
    height: 150px;
    background-image: url(../images/manage/btn-upload2.png);
    background-repeat: no-repeat;
    background-position: top center;
    text-indent: -1500px;
    cursor: pointer;
}



/* 경고 */
.room-upload-wrap .content .alert {
    width: 100%;
    height: 48px;
    padding: 0;
    border-radius: 0;
    background-color: #f05561;
    margin: 16px 0;
    line-height: inherit;
    text-align: center;
    color: #fff;
}
.room-upload-wrap .content .alert p {
    display: inline-block;
    margin-top: 16px;
}

/* sumit-wrap */
.room-upload-wrap .content .submit-wrap {
    width: 100%;
    margin-bottom: 60px;
    text-align: center;
}
.room-upload-wrap .content .submit-wrap .btn {
    width: 250px;
}
.btn-xl {
    width: 260px;
    height: 60px;
    font-size: 15px;
    /*line-height: 58px;*/
}
.btn-gray {
    border: 1px #2a2a2a solid;
    background-color: #585858;
    color: #fff;
}
.btn-gray:hover {
    border: 1px #2a2a2a solid;
    background-color: #2a2a2a;
    color: #fff;
}
.btn-gray:active {
    border: 1px #000 solid;
    background-color: #000;
    color: #fff;
}
.btn-blue {
    border: 1px #2074c8 solid;
    background-color: #3b8de0;
    color: #fff;
}
.btn-blue:hover {
    border: 1px #2074c8 solid;
    background-color: #2074c8;
    color: #fff;
}
.btn-blue:active {
    border: 1px #0958a6 solid;
    background-color: #0958a6;
    color: #fff;
}