.navbar{		
	margin-bottom: 0;
}
#map{
       height: 100%;
       width: 71%;
       float: left;
}
.list{
	 height: 100%;
   	 width: 29%;
   	 float: right;
}

 #listbar-body img {
	 display:block;
   	 margin-left:auto;
	 margin-right:auto;
	 padding-top: 50%;
	 
}
#listbar-header{
	background-color: #ff7473; 
	height:6.5%; color:white;   
	padding-left: 10px; 
	padding-top: 10px;
	font-family: sans-serif;
	line-height: auto;
}

.list-list{
	 height: 100%;
   	 width: 100%; 
}


#listbar-body-list img {
	 display:block;
   	 margin-left:auto;
	 margin-right:auto;
	 padding-top: 13%;	 
}

