h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: normal;
}
input {
    line-height: normal;
}
input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}
dd, dl, dt, li, ol, ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    background-color: transparent;
}
.filter {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    z-index: 10;
    height: 41px;
    padding-left: 20px;
    background-color: #f7f7f7;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.filter .filter-dash {
    position: relative;
    top: 13px;
    float: left;
    width: 1px;
    height: 16px;
    background-color: #d1d1d1;
}
.filter .filter-dropdown {
    float: left;
}
.filter .filter-dropdown .title {
    position: relative;
    left: 0;
    z-index: 3;
    height: 41px;
    padding: 0 10px;
    background-color: #f7f7f7;
    line-height: 41px;
    cursor: pointer;
}
.filter .filter-dropdown .title .name {
    display: inline-block;
    margin-right: 9px;
    font-size: 14px;
    font-weight: normal;
    /*white-space: pre;*/
    color: #585858;
}

.cbang-icon {
    display: inline-block;
    vertical-align: middle;
}
.filter .filter-dropdown .title .cbang-icon {
    font-size : 15px;
    color: #ff7473;
}
.filter .filter-dropdown .content {
    display: block;
    position: absolute;
    top: 40px;
    z-index: 1;
    padding: 18px 15px 6px 11px;
    background-color: #fff;
    box-shadow: 0 1px 4px rgba(0,0,0,0.2);
}
.filter .filter-dropdown .content .popup-title {
    margin-bottom: 13px;
    font-size: 13px;
    color: #585858;
}
.popup-title {
    font-size: 24px;
    font-weight: bold !important;
}
.filter .filter-dropdown .content .checkbox-wrap {
    display: block;
    margin-bottom: 12px;
    cursor: pointer;
}
.filter .filter-dropdown .content .checkbox-wrap .checkbox {
    float: left;
    margin-right: 7px;
}
.checkbox-wrap .checkbox {
    -webkit-appearance: none;
    width: 14px;
    height: 14px;
    background-image: url(../../images/search/web-checkbox.png);
    background-repeat: no-repeat;
    background-position: 0 0;
}
.filter .filter-dropdown .content .checkbox-wrap .name {
    float: left;
    color: #919191;
}
.checkbox-wrap .checkbox:checked {
    background-position: 0 -24px;
}
.filter .filter-dropdown .content .price-filter {
    margin: 0 -15px 0 -11px;
}
.filter .filter-dropdown .content .price-filter .popup-title {
    margin-left: 14px;
}
.filter .filter-dropdown .content .placeholder {
    padding-left: 14px;
    margin-bottom: 8px;
    font-size: 13px;
    color: #919191;
}
.filter .filter-dropdown .content input[type="number"] {
    width: 95px;
    height: 24px;
    padding: 0 6px;
    margin-bottom: 10px;
}
.filter .filter-dropdown .content .input1 {
    margin-left: 14px;
}
.filter .filter-dropdown .content .swing {
    display: inline;
    margin: 0 2px;
}
.filter .filter-dropdown .content .price-line {
    width: 204px;
    height: 1px;
    background-color: #d1d1d1;
    margin: 0 auto;
}
.filter .filter-dropdown .content .price-select-list.from {
    float: left;
    width: 50%;
    text-align: left;
}
.filter .filter-dropdown .content .price-select-list {
    display: inline-block;
    position: relative;
}
.filter .filter-dropdown .content .price-select-list.from .price-item {
    padding: 9px 10px 9px 23px;
}
.filter .filter-dropdown .content .price-select-list .price-list .price-item {
    color: #919191;
    cursor: pointer;
}
.filter .filter-dropdown .content .price-select-list .price-list .price-item.active {
    background-color: #ff7473;
    color: #fff;
}
.filter .filter-dropdown .content .price-select-list .price-list .price-item:hover {
    background-color: #ffdfdf;
}
.filter .filter-dropdown .content .price-select-list.to {
    float: right;
    width: 50%;
    text-align: right;
}
.filter .filter-dropdown .content .price-select-list.to .price-item {
    padding: 9px 23px 9px 10px;
}
.filter .filter-dropdown .filter-icon {
    display: inline-block;
    float: left;
    width: 13px;
    height: 13px;
    background-image: url(../../images/search/icon-filter.png);
    /*margin-top: 14px;*/
    margin-right: 5px;
}.filter .filter-dropdown .filter-icon.deal {
    background-position: 0 0;
}.filter .filter-dropdown .filter-icon.deposit {
    background-position: -13px 0;
}
.filter .filter-dropdown .filter-icon.price {
    background-position: 0 -13px;
}
.filter .filter-dropdown .title.active {
    background-color: #fff;
}
.filter .filter-dropdown .title .name .badge {
    width: 21px;
    height: 17px;
    margin-left: 10px;
    line-height: 13px;
}
.badge {
    display: inline-block;
    border-radius: 50%;
    background-color: #ef4351;
    font-size: 12px;
    text-align: center;
    color: #fff;
    width: 22px;
    height: 22px;
    line-height: 22px;
}
.filter .filter-dropdown .content .line {
    width: 100%;
    height: 1px;
    background-color: #d1d1d1;
    margin-bottom: 13px;
}

.sub-nab {
    position: absolute;
    top: 60px;
    right: 20px;
    z-index: 10;
}
.sub-nab li a {
    color: #919191;
}
.sub-nab li a.active {
    color: #000;
}
.sub-nab li a.active .dabang-icon {
    color: #ff7473;
}
.sub-nab li .dabang-icon {
    margin-right: 5px;
    color: #d1d1d1;
}
.icon-size-lg {
    vertical-align: -1px;
    font-size: 15px;
}
.sub-nab .map {
    margin-right: 15px;
}
.sub-nab li {
    float: left;
    height: 41px;
    line-height: 41px;
}
.sub-nab a {    
    text-decoration: none;
}

/* searchForm */
.SearchForm-wrap {
    position: absolute;
    top: 12px;
    left: 230px;
    z-index: 1000;
}
fieldset, legend {
    padding: 0;
    border: none;
    margin: 0;
}
legend {
    display: none;
}
.SearchForm-input {
    float: left;
    width: 257px;
    border: 2px solid #ff7473;
    border-right: none;
}
.form-control {
    /*width: 100%;*/
    height: 35px;
    padding: 6px 12px;
    /*border: 1px solid #d1d1d1;*/
    background-color: #fff;
    background-image: none;
    font-size: 13px;
    line-height: 20px;
    vertical-align: middle;
    color: #585858;
}
.SearchForm-btn {
    width: 32px;
    height: 35px;
    padding: 0;
}
.SearchForm-btn:hover {
	background-color: #ff4d4d;    
}
.btn {
    display: inline-block;
    padding-left: 6px;
    background-image: none;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.53856154;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    transition: all .1s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.btn-color {
    border: 1px #ff3131 solid;
    background-color: #ff7473;
    color: #fff;
}
.SearchForm-btn__text {
    font: 0/0 a;
}
.icon-size-xl {
    vertical-align: -4px;
    font-size: 17px;
}

/* List */
.List.map-page {
    overflow-y: hidden;
    position: absolute;
    top: 102px;
    right: 0;
    bottom: 0;
    z-index: 3;
    width: 460px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.ListOutWrap {
    position: relative;
    width: 100%;
    height: 100%;
}
.List.map-page .ListInfo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.ListInfo {
    padding: 12px 10px;
    background-color: #ff7473;
    color: #fff;
}
.icon-size-lg {
    vertical-align: -3px;
    font-size: 15px;
}
.icon-text {
    margin-left: 5px;
}
.ListWrap {
    overflow-y: auto;
    position: absolute;
    top: 42px;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    margin-bottom: 44px;
    background-color: #f7f7f7;
    transition: opacity .5s;
}
.List.map-page .AreaRoom {
    padding-bottom: 10px;
}
.AreaRoom {
    background-color: #f7f7f7;
}
.Room-header {
    height: 40px;
    padding-left: 10px;
    background-color: #f7f7f7;
    font-size: 1.1em;
    line-height: 40px;
    color: #585858;
}
.Room-title {
    position: relative;
}
.List.map-page .AreaRoom .Room-list {
    padding-right: 10px;
    padding-left: 10px;
    background-color: transparent;
}
.Room-list {
    background-color: #fff;
    font-size: 11px;
    color: #919191;
}
.Room-item {
    display: block;
    position: relative;
    height: 125px;
    padding: 9px;
    border: 1px solid #dfdfdf;
    margin-top: -1px;
    background-color: #fff;
    color: #000;
}
.Room-item>a {
    display: table;
    width: 100%;
}
.RoomItem-preview {
    width: 1%;
}
.RoomItem-preview, .RoomItem-detail {
    display: table-cell;
    vertical-align: middle;
}
.RoomItem-preview__mask {
    position: relative;
    width: 120px;
    height: 105px;
}
.RoomItem-preview__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-image: url(/eb60851…/img/web/search/emptyimg.png); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;    
}
.RoomItem-preview__cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.RoomItem-detail {
    width: 100000px;
    max-width: 1px;
    padding-left: 14px;
}
.RoomItem-info {
    position: relative;
}
.RoomItem-price {
    float: left;
    font-size: 20px;
    font-weight: bold;
    line-height: 1;
    color: #2f2f2f;
}
.RoomItem-price__type {
    margin-right: 10px;
    font-weight: bold;
    letter-spacing: -1px;
}
.RoomsItem-price__title.is-0 {
    color: #2074c8;
}
.RoomsItem-price__title.is-1 {
    color: #f5a623;
}
.RoomItem-header .room-visited {
    display: inline-block;
    margin-top: 3px;
    margin-left: 8px;
    font-size: 12px;
}
.RoomItem-header .room-visited .dabang-icon {
    color: #d1d1d1;
}
.RoomItem-icons {
    float: right;
}
.RoomItem-icons .room-favorite .dabang-icon-heart-o {
    color: #d1d1d1;
}
.icon-size-2xl {
    vertical-align: -5px;
    font-size: 19px;
}
.RoomItem-summary {
    display: inline-block;
    width: 100%;
    margin-top: 6px;
    font-size: 13px;
    color: #2f2f2f;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.RoomItem-types {
    display: -webkit-box;
    margin-top: 9px;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.tag {
    display: inline-block;
    padding: 1px 8px;
    border-radius: 100px;
    background-color: #e7f4ff;
    margin-right: 5px;
    font-size: 13px;
    line-height: 16px;
    color: #353535;
    cursor: pointer;
}
.RoomItem-title {
    display: block;
    padding: 0;
    margin-top: 6px;
    font-size: 14px;
    color: #6c6c6c;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.RoomItem-date {
    display: none;
    position: absolute;
    top: 5px;
    right: 10px;
    color: #585858;
}
.AreaRoom .RoomItem-options {
    display: none;
}
.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.RoomItem-summary span:after {
    display: inline-block;
    content: '|';
    padding: 0 1px 0 2px;
    color: #919090;
}
.RoomItem-summary span:last-child:after{
	display:none
}
.Room-item:hover {
    background-color: #d2e5ff;
}
.fa-heart:hover{
	color:#ef4351;
}
.Room-item a:hover{
	text-decoration: none;
}

/* Pagination */
.List.map-page .ListPagination {
    width: 460px;
}
.List.list-page .ListPagination{
	width:100%
}
.ListPagination .Pagination {
    display: inline-block;
}
.ListPagination {
    position: fixed;
    z-index: 10;
    bottom: 0;
    height: 44px;
    padding-top: 8.5px;
    padding-bottom: 8.5px;
    border-top: 1px solid #d1d1d1;
    background-color: white;
    text-align: center;
}
.Pagination {
    font-size: 12px;
    font-weight: bold;
}
.Pagination{
	height:20px;
	/*padding:10px 0;*/
	margin-bottom:50px
}
.Pagination>li {
    display: inline-block;
}
.pagination-wrap .Pagination{
	display:inline-block;
	margin:0 auto
}
.Pagination-item--prev.disable, .Pagination-item--next.disable {
    cursor: default;
}
.Pagination>li+li {
    margin-left: 6px;
}
.Pagination-item {
    display: block;
    width: 24px;
    height: 24px;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
    color: #585858;
    cursor: pointer;
}
.Pagination-item.active {
    padding: 2px;
    border-radius: 50%;
    background-color: #58b5d3 !important;
    line-height: 20px;
    color: #fff;
    cursor: default;
}
.Pagination-item--prev:hover, .Pagination-item--next:hover {
    background-color: transparent;
    color: #3b8de0;
    text-decoration: none;
    
}
.Pagination-item--prev, .Pagination-item--next {
    width: auto;
}
/* ListLoading */
.ListLoading-icon:before, .ListLoading-icon:after {
    content: ' ';
    display: block;
    position: absolute;
    top: 31.11353712%;
    left: 50%;
}
.ListLoading-icon:before {
    z-index: 1;
    width: 128px;
    height: 24px;
    margin-top: 130px;
    margin-left: -64.5px;
    background-image: url(../../images/search/pano_loading.gif);
}
.ListLoading-bg {
    position: absolute;
    top: 42px;
    z-index: 3;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: .6;
    filter: alpha(opacity=60);
}
.ListLoading-icon {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 4;
    display: block;
}
/* Map */
.Map {
    display: block;
    position: absolute;
    top: 101px;
    right: 460px;
    bottom: 0;
    left: 0;
}
.Map .marker-overlay {
    font-family: 'Nanum Gothic','Malgun Gothic','돋움',Dotum,Helvetica,'Apple SD Gothic Neo',Sans-serif;
    text-align: center;
    cursor: pointer;
}
.Map .cluster-marker-overlay{
	position:absolute;
	width:56px;
	height:56px;
	border-radius:100%;
	background:rgba(59,169,205,0.85);
	/* margin-top:-28px;
	margin-left:-28px; */
	line-height:56px;
	color:#fff;
	font-size:15px
}
.Map .cluster-marker-overlay:before{
	content:'';
	box-sizing:content-box;
	position:absolute;
	top:0;
	left:0;
	width:56px;
	height:56px;
	border:0 solid transparent;
	border-radius:inherit;
	background:transparent;
	margin-top:0;
	margin-left:0
}
.Map .cluster-marker-overlay.active,
.Map .cluster-marker-overlay:hover{
	z-index:999999;
	background:#0f94bf;
	color:#fff
}
.Map .cluster-marker-overlay.active:before,
.Map .cluster-marker-overlay:hover:before{
	border:6px solid rgba(255,255,255,0.7);
	margin-top:-6px;
	margin-left:-6px;
	transition:border .1s,margin .1s
}
.Map .cluster-marker-overlay.active{
	background:#0f94bf;
	color:#fff
}
.Map .cluster-marker-overlay.active:before{
	border:6px solid rgba(255,255,255,0.7);
	margin-top:-6px;
	margin-left:-6px
}
.Map .cluster-marker-overlay.small{
	width:40px;
	height:40px;
	/* margin-top:-20px;
	margin-left:-20px; */
	font-size:12px;
	line-height:40px
}
.Map .cluster-marker-overlay.small:before{
	width:40px;
	height:40px
}

/* list zero */
.ListZero.search {
    background-size: 194px 220.5px;
    background-image: url(../../images/search/ListZero--search.png);
}
.ListZero {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-position: 50%;
    background-repeat: no-repeat;
}

/*
.Map .name-marker-overlay{
	position:absolute;
	width:92px;
	height:28px;
	border-radius:100%;
	background:rgba(59,169,205,0.85);
	margin-top:-14px;
	margin-left:-46px;
	line-height:28px;
	color:#fff;
	border-radius:5px;
}
/* .Map .name-marker-overlay:before{content:'';box-sizing:content-box;position:absolute;top:0;left:0;width:92px;height:28px;border:0 solid transparent;border-radius:inherit;background:transparent;margin-top:0;margin-left:0}.Map .name-marker-overlay.active,.Map .name-marker-overlay:hover{z-index:999999;background:#0f94bf;color:#fff}.Map .name-marker-overlay.active:before,.Map .name-marker-overlay:hover:before{border:8px solid rgba(255,255,255,0.7);margin-top:-8px;margin-left:-8px;transition:border .1s,margin .1s}.Map .name-marker-overlay.active{background:#0f94bf;color:#fff}.Map .name-marker-overlay.active:before{border:8px solid rgba(255,255,255,0.7);margin-top:-8px;margin-left:-8px}.Map .name-marker-overlay .count{display:none}.Map .name-marker-overlay .name{position:static;z-index:1;width:100%;height:100%;padding:0;margin:0;font-size:11px;font-weight:normal;line-height:28px;text-shadow:none;color:#fff;transition:none;-webkit-transform:translateX(0);-moz-transform:translateX(0);-o-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0)} */

/* .Map .cluster-marker-overlay:hover .name{top:62px}.Map .cluster-marker-overlay.active .name{top:62px}.Map .cluster-marker-overlay.small .name{top:40px}.Map .cluster-marker-overlay.small:hover .name,.Map .cluster-marker-overlay.small.active .name{top:46px}.Map .subway-marker-overlay:after,.Map .univ-marker-overlay:after{content:'';display:block;width:24px;height:24px;background-position:center;background-repeat:no-repeat;background-size:100%}.Map .subway-marker-overlay{position:absolute;width:24px;height:24px;border-radius:100%;background:#fc7781;margin-top:-12px;margin-left:-12px;line-height:24px;color:#fff}.Map .subway-marker-overlay:before{content:'';box-sizing:content-box;position:absolute;top:0;left:0;width:24px;height:24px;border:0 solid transparent;border-radius:inherit;background:transparent;margin-top:0;margin-left:0}.Map .subway-marker-overlay.active,.Map .subway-marker-overlay:hover{z-index:999999;background:#eb5a61;color:#fff}.Map .subway-marker-overlay.active:before,.Map .subway-marker-overlay:hover:before{border:6px solid rgba(255,255,255,0.7);margin-top:-6px;margin-left:-6px;transition:border .1s,margin .1s}.Map .subway-marker-overlay.active{background:#eb5a61;color:#fff}.Map .subway-marker-overlay.active:before{border:6px solid rgba(255,255,255,0.7);margin-top:-6px;margin-left:-6px}.Map .subway-marker-overlay .name{top:23px}.Map .subway-marker-overlay:hover .name{top:26px}.Map .subway-marker-overlay.active .name{top:28px}.Map .subway-marker-overlay:after{background-image:url("/89225d82bd5d406ba8528ff7f0f80b96/img/web/search/icon_subway.png")}.Map .univ-marker-overlay{position:absolute;width:24px;height:24px;border-radius:100%;background:#7f82c9;margin-top:-12px;margin-left:-12px;line-height:24px;color:#fff}.Map .univ-marker-overlay:before{content:'';box-sizing:content-box;position:absolute;top:0;left:0;width:24px;height:24px;border:0 solid transparent;border-radius:inherit;background:transparent;margin-top:0;margin-left:0}.Map .univ-marker-overlay.active,.Map .univ-marker-overlay:hover{z-index:999999;background:#6c6da5;color:#fff}.Map .univ-marker-overlay.active:before,.Map .univ-marker-overlay:hover:before{border:6px solid rgba(255,255,255,0.7);margin-top:-6px;margin-left:-6px;transition:border .1s,margin .1s}.Map .univ-marker-overlay.active{background:#6c6da5;color:#fff}.Map .univ-marker-overlay.active:before{border:6px solid rgba(255,255,255,0.7);margin-top:-6px;margin-left:-6px}.Map .univ-marker-overlay .name{top:23px}.Map .univ-marker-overlay:hover .name{top:26px}.Map .univ-marker-overlay.active .name{top:28px}.Map .univ-marker-overlay:after{background-image:url("/89225d82bd5d406ba8528ff7f0f80b96/img/web/search/icon_university.png")}.Map .pin-marker-overlay{box-sizing:content-box;position:absolute;width:17px;height:17px;padding:0;border-radius:100%;background-color:rgba(46,46,46,0.2);margin-top:-8.5px;margin-left:-8.5px}.Map .pin-marker-overlay:before{content:'';position:absolute;top:50%;left:50%;width:17px;height:17px;border-radius:100%;background:#00b92f url("/89225d82bd5d406ba8528ff7f0f80b96/img/web/search/icon_location.png") no-repeat center center;margin-top:-8.5px;margin-left:-8.5px}.Map .pin-marker-overlay.active{z-index:999999;animation-name:radar;animation-duration:.5s;animation-timing-function:linear;animation-delay:0s;animation-iteration-count:5;animation-direction:normal;animation-fill-mode:forwards;animation-play-state:running}@keyframes radar{to{padding:20px;margin-top:-28.5px;margin-left:-28.5px}}.Map{display:block;position:absolute;top:101px;right:460px;bottom:0;left:0}.Map .marker-overlay.active .name{background-color:rgba(0,0,0,0.43);text-shadow:none;font-weight:normal;color:#fff} */	

@media (min-width: 1024px){
	.filter .filter-dropdown .title {
	    padding: 0 20px;
	}	
	.filter .filter-dropdown .content {
	    padding: 18px 15px 6px 21px;
	}
	.filter .filter-dropdown .content .price-filter {
    	margin: 0 -15px 0 -21px;
	}
	.filter .filter-dropdown .content .price-filter .popup-title {
    	margin-left: 19px;
	}
	.filter .filter-dropdown .content .price-filter .placeholder {
    	margin-left: 6px;
	}
	.filter .filter-dropdown .content .price-filter .input1 {
    	margin-left: 20px;
	}
	.filter .filter-dropdown .content .price-filter .from .price-item {
	    padding: 9px 10px 9px 28px;
	}
	.filter .filter-dropdown .content .price-filter .to .price-item {
	    padding: 9px 28px 9px 10px;
	}
	.sub-nab .map {
	    margin-right: 30px;
	}
}